.heroContainer {
  background-image: url(../../assets/heroImage.png),
    linear-gradient(0.4turn, rgba(234, 156, 75, 0.5), rgba(26, 36, 59, 0.8));
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 700px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.messageContainer {
  margin-bottom: 5%;
}

#header {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-align: center;
  align-self: flex-end;
  justify-content: flex-end;
  margin: 0.5em auto;
}

#headerMessage {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-align: center;
  align-self: flex-end;
  justify-content: flex-end;
  margin: 0 auto;
}

.down-arrow {
  position: relative;
  align-self: center;
  color: white;
  justify-content: center;
  width: 0;
  border-radius: 2px;
  margin-bottom: 3em;
  animation: fade_move_down 2s infinite;
}

.down-arrow:after {
  content: " ";
  position: absolute;
  top: 12px;
  left: -10px;
  width: 16px;
  height: 16px;
  border-bottom: 4px solid;
  border-right: 4px solid;
  border-radius: 4px;
  transform: rotateZ(45deg);
}

@keyframes jumpInfinite {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 12px;
  }
  100% {
    bottom: 0;
  }
}

/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0% {
    -webkit-transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}
@-moz-keyframes fade_move_down {
  0% {
    -moz-transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -moz-transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}
@keyframes fade_move_down {
  0% {
    transform: translate(0, -10px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 10px);
    opacity: 0;
  }
}
