.expertiseContainer {
  position: relative;
  font-family: "Roboto", sans-serif;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background-color: var(--yellow);
}

.expertiseItem {
  margin: 2em;
}

.imageIcon {
  height: 200px;
}
