.contactContainer {
  background-color: var(--blue);
  padding: 2em;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  display: flex;
  flex-flow: column;
}

#contactTitle {
  font-family: "Roboto", sans-serif;
  color: var(--white);
  margin-bottom: 35px;
  width: 250px;
}

#logoAndInputs {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#contactLogo{
  margin-bottom: 2em;
}

#text-area{
  resize: none;
}

#user_email,
#user_name,
#phone_number,
#text-area {
  background: none;
  border: none;
  border-bottom: 2px solid var(--yellow);
  margin: 1em;
  transition: 0.1s ease all;
  font-family: "Roboto", sans-serif;
  font-size: 1.25em;
  width: 275px;
  color: var(--white);
  padding: 5px;
}

#user_email:focus,
#user_name:focus,
#phone_number:focus,
#text-area:focus {
  background: none;
  border: none;
  outline: none;
  border-bottom: 3px solid var(--yellow);
}

#submit {
  background: none;
  padding: 0.75em;
  font-family: "Roboto", sans-serif;
  font-size: 1.25em;
  border-color: var(--yellow);
  color: var(--yellow);
  border: 2px solid;
  border-radius: 10px;
  transition: 0.1s ease all;
}

#submit:hover {
  background-color: var(--yellow);
  color: var(--blue);
}

.contactTopShapeDivider {
  position: relative;
  top: -34px;
  left: 0;
  width: 120%;
  overflow: hidden;
  line-height: 0;
}

.contactTopShapeDivider svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 53px;
}

.contactTopShapeDivider .shape-fill {
  fill: var(--yellow);
}

@media (max-width: 500px){
  #contactLogo {
  height: 300px;
  
}
}