nav {
  position: absolute;
  width: 95%;
  padding: 1em;
  overflow: hidden;
}

#navUl {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.navlink {
  text-decoration: none;
  color: var(--white);
  margin: 1em;
  font-size: 1.5em;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.logo {
  height: 75px;
  width: 75px;
  overflow: hidden;
}

#elmPineLogo {
  position: relative;
  right: 150px;
  overflow: hidden;
}
